@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@font-face {
  font-family: "Impact", sans-serif;
  src: url(../fonts/impact.woff2);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-item {
  list-style-type: none;
}
.menu-item a {
  text-decoration: none;
}

.header {
  padding: 25px 0;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a:hover {
  text-decoration: underline;
  color: #9F6B08;
  transition: 0.3s;
}

.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 10px;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

.promo {
  background-image: url(../img/bg-lamba.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.promo__inner h1 {
  margin: 0 auto;
  padding: 10px 25px 0 0;
}

.title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

.sub-title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 48px;
  border-bottom: 1px solid #040404;
  margin: 0 auto;
  max-width: 400px;
  align-self: center;
}
.sub-title span {
  font-size: 34px;
  display: block;
  color: #9F6B08;
  padding: 3px 0 10px 0;
}

.promo__text {
  font-size: 16px;
  color: #363636;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

.main {
  font-family: "Roboto Condensed";
}

.container-min {
  max-width: 892px;
  padding: 0 10px;
  margin: 0 auto;
}

.info {
  margin-top: 100px;
}

.info__part-textbox {
  display: flex;
  justify-content: space-between;
  color: #040404;
}
.info__part-textbox p {
  min-width: 440px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin: 0 auto;
}
.info__part-textbox b {
  min-width: 440px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  padding-left: 20px;
}

.info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
}

.info__part-img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px 0 70px 0;
}

.info__part-second {
  display: flex;
  justify-content: space-between;
}
.info__part-second .info__content p {
  max-width: 360px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin: 2em 0;
}

.info__part-third {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px 0;
}

.info__content {
  width: 415px;
}
.info__content h3 {
  margin-top: 0px;
}

.info__table {
  border-bottom: 1px solid #040404;
  width: 450px;
  position: relative;
  top: 20px;
}
.info__table td {
  padding-bottom: 20px;
}

.info__table::before {
  top: -20px;
  content: "";
  border-top: 1px solid #040404;
  position: absolute;
  width: 100%;
}

.track {
  background-image: url(../img/bg__track.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.track__title {
  padding: 50px 0 30px 0;
  font-size: 32px;
  font-weight: 400;
}

.track__text {
  max-width: 435px;
}

.track__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.track__img {
  margin: auto auto 90px auto;
}

.evo {
  font-size: 14px;
  margin-bottom: 100px;
}

.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;
}

.evo-black__info {
  display: flex;
  justify-content: space-between;
}

.evo-black__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 300;
  padding-right: 50px;
}

.evo-black__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.evo-black__infobox {
  flex-basis: 437px;
}

.evo-black__img {
  display: block;
  margin: 170px auto 60px;
}

.evo__descr-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.evo__descr-listdd {
  text-transform: uppercase;
}

.menu-mobile,
.menu-btn {
  display: none;
}

@media (max-width: 1100px) {
  .promo {
    background-position: left center;
  }
  .menu-list {
    display: none;
  }
  .menu-mobile {
    display: flex;
    gap: 0 20px;
  }
  .logo img {
    width: 50px;
  }
  .nav {
    align-items: center;
  }
  .title {
    font-size: 64px;
  }
  .sub-title {
    font-size: 38px;
  }
  .sub-title span {
    font-size: 30px;
  }
}
@media (max-width: 820px) {
  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menu-btn span {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .menu-mobile {
    display: none;
  }
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }
  .sub-title span {
    font-size: 22px;
  }
}